.header {
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #fff;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  color: white;
  margin-top: 18px;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10px;
}
.header__option-lineOne {
  font-size: 10px;
}
.header__option-lineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBusket {
  display: flex;
  align-items: center;
}
.header__busketCount {
  margin: 0 10px;
}
.header__optionBusket {
  color: white;
}
.header__optionBusket:active {
  color: rgb(81, 245, 6);
}
